html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
}



#enter{
    font-size: 32px;
    justify-content: center;
    align-items: center;
}

#shopentry{
    display: flex;
    font-size: 32px;
    background-color: rgb(0, 109, 0);
    border-radius: 50px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#alignement{
    display: none;
}

#page{
    display: none;
}

#nombre{
    font-size: 33px;
}

#terminal {    
    font-size: 32px;
    font-family: monospace;
    white-space: pre-wrap;
}
