# fichiers de configuration sensibles
.env
config.local.php
/vendor/
node_modules/
.DS_Store
# Ignore PHPMailer
/PHPMailer-master/
malevolent_shrine_no_glow_jujutsu_kaisen.glb
455226__gamebalance__blade-02.wav