/backend/routes
/backend/cpp_code/.vscode/
/backend/cpp_module/node_modules
/backend/node_modules
/backend/binding.gyp
/backend/cpp_module/package-lock.json
/backend/cpp_module/package.json
/.vscode
/backend/server.js
/backend/index.js
/backend/package-lock.json
/backend/package.json
a.session.sql
/real.pf/.env
/real.pf/deco1.png
/real.pf/Deco2.png
/real.pf/connexion.js